body {
  font-family: monospace;
}
 h1 {
  text-align: center;
 }

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #1f49d4;
  border-radius: 5px;
  background-color: #15f7f7;
}

fieldset {
  border: 2px solid white;
  margin: 20px;
  padding: 50px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="checkbox"] {
  margin-bottom: 10px;
}

button {
  display: block;
  background-color: #354e75;
  color: #40c8f1;
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3d1eee;
}

button:active {
  box-shadow: 0px 2px 4px rgba(28, 21, 134, 0.562);
  }

/* Custom styles for checkboxes */
.checkbox-group {
  display: flex;
  flex-direction: row;
}

.checkbox-group label {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.form-output {
  margin-top: 20px;
  padding: 10px;
  background-color: #2008f7;
  border: 1px solid #ccc;
  color: aliceblue;
  font-size: 15px;
}