body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #canvasText {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 450px;
    color: rgb(241, 179, 8);
    font-size: 24px;
    padding: 15px;
    z-index: 1; 
    border: 1px solid white;
  }

 